#notey {
    height:600px;
    width: 750px;
}

#questy {
    height: 600px;
    width: 200px
}

#summy {
    width: 959px;
    height: 80px
}

form {
    border-style: outset;
    padding: 25px;
    background-color:white;
}

.save {
    width: 80px;
    height: 40px;
}