nav {
    display: flex;
    justify-content: space-between;
    height: 125 px;
    width: 1300px;
    margin-left: 200px
}


.binder {
    margin-left: 100px;
    margin-top: 40px;
    font-family: 'Julius Sans One', sans-serif;
}

.signIn {
    margin-top: 40px;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    margin-top: 75px;
    border-style: outset;
    width: 400px;
    height: 200px;
    padding: 50px;
}

.sb {
    width: 80px;
    margin-left: 150px;  
}