#not {
    height:600px;
    width: 750px;
}

#que {
    height: 600px;
    width: 200px
}

#sum {
    width: 959px;
    height: 80px
}


.save {
    width: 80px;
    height: 40px;
}

.con {
    display: flex;
    margin-left: 300px;
}

.item-container {
    display: flex;
    border-style: outset;
    padding: 10px;
    margin: 5px;
    width: 900px;
    justify-content: space-between;
}

.editb {
    height: 45px;
}

.deleteb {
    height: 35px;
}

