.ccontainer {
    display: flex;
    background-color: rgb(240, 240, 240);
}

.subs {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.box {
    display: flex;
    border-style: outset;
    padding: 20px;
    margin: 10px;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
}

.nott {
    height:70px;
    margin-left: 30px;
}

.logout {
    height: 30px;
}