.container {
    display: flex;
    background: rgb(240, 240, 240);
}

.semz {
    display: flex;
    flex-direction: column;
    
}

.mySems {
    border: solid;
    border-style: outset;
    width: 1000px;
    height: 400px;
    font-size: 30px;
    margin-left: 350px;
    background: white;
}

.lowerBoxes {
    /* display: flex; */
    margin-left: 100px;
}

.findSem {
    border: solid;
    border-style: outset;
    margin-top: 50px;
    padding: 20px;
    margin-left: 20px;
    width: 1000px;
    height: 200px;
    background: white;
}

.findSemInputs {
    display: flex;
    flex-direction: column; 
}

.search {
    width: 70px;
    margin-left: 260px;
}